@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    @apply w-full min-h-screen flex justify-center items-center;
    /* background: url(images/html_table.jpg) center / cover; */
}

.inicio{
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 5;
}